@import url('https://fonts.googleapis.com/css2?family=Hind&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&display=swap');

* {
    box-sizing: border-box;
    
  }
  
  body {
    max-width: 1440px;
    margin: auto;
  }
  

body{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    align-items: center;
    padding: 3px 30px;
    justify-content: space-between;
    border-bottom: 1px solid #151515;
}
.nav ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    align-items: center;
}
.nav ul li{
    padding: 5px 20px;
}
.nav ul li a{
    color: #151515;
    text-decoration: none;
}
.nav ul li button{
    background-color: #151515;
    font-weight: 600;
    color: #fff;
    outline: none;
    border: 0;
    padding: 10px 20px;
}
h1{
  font-size: 35px;
  font-family: Helvetica;
  font-style: bold;
}

/* tombol tampilan */
input[type="checkbox"]{
  position: relative;
  width: 40px;
  height: 20px;
  appearance: none;
  background-color: #434343;
  outline: none;
  border-radius: 10px;
  transition: .5s ease;
  cursor: pointer;
}
input[type="checkbox"]:checked{
  background-color: #3664ff;
}
input[type="checkbox"]::before{
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #fcfcfc;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: .5s ease;
}
input[type="checkbox"]:checked::before{
  transform: translateX(20px);
}
.dark{
  background-color: #000000;
  color: #fcfcfc;
}

/* Carousel */
  .slider-wrapper {
    margin: 1rem;
    position: relative;
    overflow: hidden;
  }
  
  .slides-container {
    height: calc(100vh - 2rem);
    width: 100%;
    display: flex;
    overflow: scroll;
  }
  
  .slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
  }
  
  .slide-arrow:hover,
  .slide-arrow:focus {
    opacity: 1;
  }
  
  #slide-arrow-prev {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
  }
  
  #slide-arrow-next {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
  }
  
  .slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
  }
  
  #foto{
    width: 100%;
    height: 100%;
  }

/* Section */
.h-text{
  position: absolute;
  top: 65%;
  left: 50%;
  max-width: 650px;
  transform: translate(-50%,-50%);
  text-align: center;
  color: #fff;
}
.h-text span{
  letter-spacing: 5px;
}
.h-text h1{
  font-size: 3.5em;
}
.h-text a{
  text-decoration: none;
  background: indianred;
  padding: 10px 20px;
  color: #fff;
  letter-spacing: 5px;
  transition: 0.4s;
}
.h-text a:hover{
  border: 1px solid indianred;
  background: transparent;
}
/* About */
.about-container{
	width:70%;
	height:330px;
	background:#ffffff;
	border-radius:20px;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	display: flex;
	margin: 3%  auto 30px auto;
	position: relative;
	justify-content:space-evenly;
	align-items: center;
}
.about-container img{
	height:250px;
}
.about-text{
	width:500px;
  text-align: justify;
} 
.about-text p{
  font-family: sans-serif;
}

/* form */
.title{
  font-size: 30px;
  font-family: Helvetica;
  font-style: bold;
  padding: 10px 50px;
}
.style_input{
  width: 100%;
  padding: 10px 5px;
  margin-bottom: 20px;
}

select,
input{
  margin-bottom: 10px;
}

.form{
  padding: 10px 50px;
}

.sbmt input{
  background-color: #007bff;
  border-color: #007bff;
  width: 70px;
  height: 30px;
  border-radius: 4px;
  margin-top: 20px; 
  color: white;

}
.sbmt:hover{
  opacity: 0.8;
}

.jv{
  padding: 10px 50px;
}

/* footer */
.footer{
    text-align: center; 
    background: #99A799; 
    padding: 30px 0; 
    font-size: 8pt; 
    font-weight: bold; 
    color: #ffffff; 
    height: 150px;
    clear: both;
    
}

.footer-wrapper{
    display: flex; 
    justify-content: center; 
}

.lingkaran{
    width: 40px; 
    height: 40px; 
    background-size: 40px;
    border-radius: 100%; 
    margin: 5px; 
}
